<% provide(:title, "New Blog Post") %>

<h1>New Blog</h1>
<div>
  <%= form_for(@blog) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit "Create" %>
  <% end %>
</div>
